*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-align:center;
    font-family: Arial, sans-serif;
}

h1{
    background-color:blue;
    color:white;
    height:5rem;
    line-height:5rem;
}

/* container */
.choices{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:3rem;
    margin-top:5rem;
}

/* circle buttons */
.choice{
    height:180px;
    width:180px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;

    background-color:white;

    border:6px solid #ddd;

    transition:0.2s ease-in-out;

    overflow:hidden;
}

/* PERFECT CENTERED HOVER */
.choice:hover{
    cursor:pointer;
    border:6px solid blue;
    transform: scale(1.08);
    box-shadow:0 10px 25px rgba(0,0,255,0.3);
}

/* image FIX */
.choice img{
    height:70%;
    width:70%;
    object-fit:contain;
    display:block;
}

/* score board */
.score-board{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5rem;
    margin-top:3rem;
    font-size:2rem;
}

#user-score,
#comp-score{
    font-size:4rem;
}

/* message */
.msg-container{
    margin-top:5rem;
}

#msg{
    background-color:blue;
    color:white;
    font-size:2rem;
    display:inline-block;
    padding:1rem 2rem;
    border-radius:1rem;
}